.text-center{
  text-align: center;
}
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
body{
  background-image: url('aslide.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
